.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding: 12px 22px;

  background-color: transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 2px #13135a;
  border: none;

  color: #13135a;
  font-weight: 700;
  letter-spacing: 1px;

  transition: all 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover,
.btn.btnSelected {
  background-color: #13135a;
  box-shadow: inset 0 0 0 2px #13135a;
  color: #51e598;
}

.btn:hover > * {
  color: #51e598;
}

.btn > * {
  display: inline;
  color: #13135a;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn > *:not(:first-child) {
  margin-left: 8px;
}

.btn:active {
  background-color: #13135a;
  color: #51e598;
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

.btn.btnIcon {
  padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #fff;
  box-shadow: none;
}

.btn.btnIcon:hover {
  background-color: transparent;
}

.btn.btnIcon:hover path {
  fill: #51e598;
}

.btnIcon.btnOutline {
  padding: 8px 12px;
  box-shadow: inset 0 0 0 2px rgba(19, 19, 90, 0.1);
}

.btnIcon.btnOutline:hover {
  background-color: #13135a;
  box-shadow: inset 0 0 0 2px #13135a;
}
