.btn {
  padding: 12px 22px;

  background-color: transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 2px #13135a;
  border: none;

  color: #13135a;
  font-weight: 700;
  letter-spacing: 1px;

  transition: all 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #13135a;
  box-shadow: inset 0 0 0 2px #13135a;
  color: #51e598;
}

.btn:hover > * {
  color: #51e598;
}

.btn > * {
  color: #13135a;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn:active {
  background-color: #13135a;
  color: #51e598;
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}
