header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px dashed rgba(19, 19, 90, 0.05);
  margin-bottom: 20px;
}

header div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header > div *:not(:first-child) {
  margin-left: 15px;
  opacity: 0;
  transform: translateX(-10px);
  animation: fadeItems 0.3s ease 0.6s forwards;
}

.logo {
  width: 300px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeHeader 0.8s ease 0.1s forwards;
  margin-right: 30px;
}

@keyframes fadeHeader {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeItems {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
